[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
requests-html = "*"
schedule = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.9"
